<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Concert</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>

      </ul>
    </header>
  </div>
<main class="form-signin">
    <form>
      
      <h1 class="h3 mb-3 fw-normal">Por favor faça login</h1>
  
      <div class="form">
        <label for="floatingInput">Login</label>
        <input type="email" class="form-control" id="floatingInput" placeholder="Concert">
        
      </div>
      <div class="form">
        <label for="floatingPassword">Senha</label>
        <input type="password" class="form-control" id="floatingPassword" placeholder="prova">
        
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar login
        </label>
      </div>
       <a href="/dashboard"><button class="w-100 btn btn-lg btn-primary" type="button" >Login</button></a>
      
    </form>
  </main>
  
