/* You can add global styles to this file, and also import other style files */
html {
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
 app-root,app-login,app-register,
  body {
    height: 100%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
  }
  .form{
    margin-top: 20px;
}

